/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 5 jun 2025, 17:17:09
    Author     : diego
*/
body {
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor-ofertas {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.img-producto {
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.img-descuento {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

